<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Suite" preserve-order="true">

  <listeners>
    <listener class-name="com.orangehrm.listeners.TestListener"/>
  </listeners>


  <test name="Chrome - Full Flow" preserve-order="true">
    <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.orangehrm.tests.LoginTests"/>
      <class name="com.orangehrm.tests.DashboardTests"/>
      <class name="com.orangehrm.tests.PIMTests"/>
      <class name="com.orangehrm.tests.AdminTests"/>
      <class name="com.orangehrm.tests.LeaveTests"/>
    </classes>
  </test>

 
  <test name="Firefox - Full Flow" preserve-order="true">
    <parameter name="browser" value="firefox"/>
    <classes>
      <class name="com.orangehrm.tests.LoginTests"/>
      <class name="com.orangehrm.tests.DashboardTests"/>
      <class name="com.orangehrm.tests.PIMTests"/>
      <class name="com.orangehrm.tests.AdminTests"/>
      <class name="com.orangehrm.tests.LeaveTests"/>
    </classes>
  </test>

</suite>
